body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
} 

.banner{ 
    background-image: url(donate-today-main/images/donation13.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    padding: 160px 0px; 
    
}


.white p{
    color: white; 
    text-align: center; 
    
     
} 
.white h1{
    color: white; 
    font-size: 60px; 
    text-align: center;   
    
}  
.first-banner{
    position: relative;   
}
.link-button{
    position: absolute; 
    left: 45%; 
    text-decoration: none;
    background-color: rgb(246, 57, 24);
    padding: 15px 30px; 
    border-radius: 10px; 
    color: white; 
    font-weight: 700;
    font-size: 20px;
}

.third-section{
    
   display: flex;
   justify-content: center; 
  margin-bottom: 50px; 
  margin-top: 100px;
} 
.taka{  
    
    
    margin: 10px 10px;
    box-shadow: 0px 0px 1px gray;
   padding: 30px 40px;
   border-radius: 5px; 
   text-align: center; 
   font-size: 25px;
   color: grey;
} 
.taka-tk{
    color: tomato; 
    border: 3px solid tomato; 
    background-color: rgb(249, 241, 240);
} 
.four-section{
    text-align: center;
    color: grey; 
    font-size: 20px; 
    margin-bottom: 40px;
} 
.shadow{ 
    border-top: 1px solid grey;
    padding: 1px 500px; 
    
} 
.another-button{
    text-decoration: none; 
    background-color: rgb(246, 57, 24); 
    padding: 20px 30px; 
    border-radius: 10px;
    color: white; 
    font-weight: 700; 
    font-size: 20px;
} 

.six-section{
    display: flex; 
    width: 80%; 
     
}  
.container{
    display: flex; 
    justify-content: center; 
    margin-top: 80px; 
    margin-bottom: 50px;
}
.icon{ 
    padding-left: 20px;
    margin: 10px 10px; 
    border-radius: 10px;
    box-shadow: 0px 0px 1px white; 
   
} 
.icon img{
    width: 15%; 
    padding-top: 60px;
} 
.icon h1{
    font-size: 30px;
}
.icon p{
    padding-bottom: 50px;
    color: grey; 
    padding-right: 15px; 
    font-size: 20px;
}
.seven-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
} 
.half{
    width: 40%;
    margin-right: 2%; 
    margin-left: 2%;
} 
.half img{
    width: 100%; 
    border-radius: 5px;
}
.btn{
    text-decoration: none; 
    background-color: rgb(246, 57, 24);
    padding: 20px 40px; 
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}